:root {
  --primary: #2B2166;
  --secondary: #646FB0;
  --light: #A0AEEB;
  --dark: black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--secondary);
  color: var(--primary);
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background: var(--primary);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--primary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

a,
header a,
div a,
h2 {
  color: var(--secondary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

a:hover,
nav a:hover,
header a:hover,
div a:hover {
  color: var(--light);
}

.container {
  width: 1000px;
  max-width: 80%;
  margin: 0 auto;
}

.post-details {
  flex: 4;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 10px 10px 14px -3px var(--primary);
  margin: 10px 20px;
  line-height: 1.5rem;
  color: var(--primary);
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
 }

.card-title {
  background-color: transparent;
  border-bottom: none;
  color: var(--primary);
  justify-content: center;
}

.post-title,
h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: white;
  font-weight: bold;
  font-size: 2.4rem;
}

.card-body {
  font-size: 1.4rem;
  text-align: right;

}

.card-signature {
  text-align: right;
}

.comment {
  /* width: 50%; */
  background-color: var(--light);
  margin-bottom: 25px;
  justify-content: center;
}

.comment-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

.comment-form,
.post-form {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.login-form, .signup-form {
  padding: 0 40px ;
  justify-content: left;
}

.post-short {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
  padding: 10px 10px 25px 10px;
}

#comment-btn, #login-btn, #signup-btn, #post-btn, #edit-btn {
  background: var(--primary);
  color: var(--light);
}

#comment-btn:hover, #login-btn:hover, #signup-btn:hover, #post-btn:hover, #edit-btn:hover {
  background: var(--secondary);
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}